body{
  background-color: darksalmon;
}

button{
  background-color: #e7e7e7;
  color: darksalmon;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.nav-link {
  color: white;
  border-color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: white;
}

.aboutme0{
  padding-left: 60px;
}

.aboutme1{
  padding-left: 60px;
  padding-right: 800px;
}

.aboutme2{
  padding-left: 60px;
  padding-right: 800px;
}
